* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: block;
    border: none;
}

.top-menu {
    display: flex;
    height: 100px;
    width: 100%;
    background: #02476F;
}

header {
    margin: 40px 0 0 550px;
    line-height: 10px;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0.900px;
    word-spacing: 30px;
    cursor: pointer;
    color: #ffffff;
}

button {
    background: #efecec;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 25px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    color: #00008B;
}

.firstpage {
    height: 550px;
    width: 100%;
    /* background-image: url(./img/jusdeusa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.juscapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    position: relative;
}

.selojus {
    position: absolute;
    top: 380px;
    left: 40px;
    width: 200px;
    height: 200px;
}

.sobre {
    position: absolute;
    top: 200px;
    left: 800px;
    color: #ffffff;
    width: 400px;
    height: 200px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.quadros {
    height: 300px;
    width: 250px;
    border: solid 1px;
    text-align: center;
    font-size: 15px;
    background: #ffffff;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);

}

.secondpage,
.thirdpage,
.fourthpage,
.fifthpage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-weight: bolder;
    background: #ffffff;
}

.image {
    height: 400px;
    width: 600px;
    border-right: 30px;
    text-align: justify;
}

.rodape {
    font-size: 15px;
    text-align: center;
}